.quienessomos{
 min-height: 100vh;
 background: linear-gradient(to bottom, rgb(188, 232, 249), white);
 display: flex;
 flex-direction: column;
}
.titulo-inicial{
 min-height: 10vh;
 margin: 60px;
 display: flex;
 flex-direction: column;
 padding: 20px;
 align-items: center;
}
.contenido2{
   flex: 1;
}

.trabajos img{
  width: 500px;
  height: 500px;
}

.texto{
  width: 100%;
  text-align: justify;
  font-size: 1.25rem;
  margin: 0;
}
.hero-portada{
  height: 100vh;
  background-image: url(../IMAGENES/portada.png );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  padding-bottom: 40px;
}
.hero-portada h1{
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px 8px black;
}
.portada1{
  display: grid;
  grid-template-columns: 100%;
}

