.pantalla{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: none;
    padding: 20px;
    align-items: center;
    color: rgb(10, 1, 1);
    background: linear-gradient(to bottom, rgb(188, 232, 249), white);
}
.contenido{
    flex: 1;
}
.logo{
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: auto;
    display: block;
}
.imageninicio{
    margin: 0px;
    padding: 0px;
    width: 80%;
    height: 10%;
}