
.quienessomos{
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(188, 232, 249), white);
    margin: 60px;
display: flex;
flex-direction: column;
padding: 20px;
align-items: center;
}
.titulo-inicial{
min-height: 10vh;
margin: 60px;
display: flex;
flex-direction: column;
padding: 20px;
align-items: center;
}
.contenido2{
  flex: 1;
}
.logo{
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: auto;
    display: block;
}
.trabajos{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 16px;                               /* separación */
}
.trabajos img{
  width: 100%;
  height: 180px;              /* tamaño fijo */
  object-fit: cover;          /* recorta para no deformar */
  display: block;
}