.logo {
  margin: 0;
  padding: 0;
  width: 250px;
  height: auto;
  display: block;
}

.banner {
  width: 100%;
  background-color: #020b18;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.banner img {
  width: 300px;
  height: 150px;
  object-fit: contain;
}

.pantalla {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  color: rgb(10, 1, 1);
  background: linear-gradient(to bottom, rgb(188, 232, 249), white);
}

.portada {
  padding: 30px 30px;
  width: 100%;
  height: auto;
  align-items: center;
}

.quienessomos {
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(188, 232, 249), white);
  display: flex;
  flex-direction: column;
}

.titulo-inicial {
  min-height: 10vh;
  margin: 60px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.contenido2 {
  flex: 1;
}

.logo {
  margin: 0px;
  padding: 0px;
  width: 250px;
  height: auto;
  display: block;
}

.trabajos img {
  width: 500px;
  height: 500px;
}

.texto {
  width: 100%;
  text-align: justify;
  font-size: 1.25rem;
  margin: 0;
}

.hero-portada {
  height: 100vh;
  background-image: url(../IMAGENES/portada.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  padding-bottom: 40px;
}

.hero-portada h1 {
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px 8px black;
}

.portada1 {
  display: grid;
  grid-template-columns: 100%;
}

.titulo-principal {
  width: 100%;
  background-color: #020b18;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.titulo-principal img {
  width: 300px;
  height: 150px;
  object-fit: contain;
}

.servicios {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: none;
  padding: 20px;
  align-items: center;
  color: rgb(10, 1, 1);
  background: linear-gradient(to bottom, rgb(188, 232, 249), white);
}

.contenido3 {
  flex: 1;
}

.logo {
  margin: 0px;
  padding: 0px;
  width: 250px;
  height: auto;
  display: block;
}

.dropdown-menu {
  --bs-dropdown-border-width: 0;
}

.contenedorservicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 16px;
  align-items: start;
}

.titulo-servicios {
  text-align: center;
}

.titulo-principal {
  width: 100%;
  background-color: #020b18;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.titulo-principal img {
  width: 300px;
  height: 150px;
  object-fit: contain;
}

.hero-servicios {
  height: 100vh;
  background-image: url(../IMAGENES/portada.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  padding-bottom: 40px;
}

.hero-servicios h1 {
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px 8px black;
}

.contenido4 {
  flex: 1;
}

.productos {
  display: flex;
  flex-direction: column;
}

.titulo-principal {
  width: 100%;
  background-color: #020b18;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.titulo-principal img {
  width: 300px;
  height: 150px;
  object-fit: contain;
}

.hero-productos {
  height: 100vh;
  background-image: url(../IMAGENES/portada.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  padding-bottom: 40px;
}

.hero-productos h1 {
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px 8px black;
}

.contacto {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: none;
  padding: 20px;
  color: rgb(10, 1, 1);
  background: linear-gradient(to bottom, rgb(188, 232, 249), white);
}

.formulario {
  width: 100%;
  padding: 10px;
  margin: 16px 0;
  border: 2px solid;
  border-radius: 15px;
  background-color: beige;
}

.titulo-principal {
  width: 100%;
  background-color: #020b18;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.titulo-principal img {
  width: 300px;
  height: 150px;
  object-fit: contain;
}

.contenido6 {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: none;
  padding: 20px;
  align-items: center;
  color: rgb(10, 1, 1);
  background: linear-gradient(to bottom, rgb(188, 232, 249), white);
}

.titulo-principal {
  width: 100%;
  background-color: #020b18;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.titulo-principal img {
  width: 300px;
  height: 150px;
  object-fit: contain;
}

/*# sourceMappingURL=style.css.map */
