.contacto{
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(188, 232, 249), white);
    display: flex;
    flex-direction: column;
}
.formulario{
    width: 100%;
    padding: 10px;
    margin: 16px 0;
    border: 2px solid;
    border-radius: 15px;
    background-color: beige;
}

.hero-contacto{
  height: 100vh;
  background-image: url(../IMAGENES/portada.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
}

.hero-contacto h1{
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px 8px black;
}