.pantalla{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    color: rgb(10, 1, 1);
    background: linear-gradient(to bottom, rgb(188, 232, 249), white);
}
.contenido{
    flex: 1;
    width: 100%;
}

.imageninicio{
    padding: 20px;
    width: 80%;
    height: auto;
}

