.pantalla{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: none;
    padding: 20px;
    align-items: center;
    color: rgb(10, 1, 1);
    background: linear-gradient(to bottom, rgb(188, 232, 249), white);
}
.contenido{
    flex: 1;
}
.logo{
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: auto;
    display: block;
}
.imageninicio{
    margin: 0px;
    padding: 0px;
    width: 80%;
    height: 10%;
}
// .dropdown-menu{
//     list-style: none;
//     li{
//         background-color: rgb(6, 211, 252);
//         text-decoration: underline;
//         a{
//             color: #060606 !important;
//             text-decoration: none;
//             background-color: rgb(75, 198, 244) !important;
//             text-decoration-line: rgb(75, 198, 244) !important;
//         };
//     }
// }
.titulo-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}
.menu{
    position: relative;
    .dropdown-menu{
        list-style: none;
        right: 0;
        left: auto;
    }
}