.titulo-productos{
    color: #030300 !important;
        font-size: 1.5rem;
        text-align: center;
}

.contenido4{
    flex: 1;
}

.productos{
    display: flex;
    flex-direction: column;
}
.titulo-principal{
    width:100%;
    background-color:#020b18;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px 0;
}

.titulo-principal img{
    width:300px;
    height:150px;
    object-fit:contain;
}