.contenido4{
    flex: 1;
}

.productos{
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(188, 232, 249), white);
    display: flex;
    flex-direction: column;
}

.hero-productos{
  height: 100vh;
  background-image: url(../IMAGENES/portada.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
}

.hero-productos h1{
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px 8px black;
}