
.quienessomos{
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(188, 232, 249), white);
    margin: 60px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
.titulo-inicial{
min-height: 10vh;
margin: 60px;
display: flex;
flex-direction: column;
padding: 20px;
align-items: center;
}
.contenido2{
  flex: 1;
}
.logo{
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: auto;
    display: block;
}
.trabajos{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px;
}
.trabajos img{
  width: 100% ;
  height: 250px;     
  object-fit: cover;   
  display: block;
  object-fit: cover;
}
.texto{
  width: 100%;
  text-align: justify;
  font-size: 1.25rem;
  margin: 0;
}