.servicios{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: none;
    padding: 20px;
    align-items: center;
    color: rgb(10, 1, 1);
    background: linear-gradient(to bottom, rgb(188, 232, 249), white);
}
.contenido3{
    flex: 1;
}
.logo{
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: auto;
    display: block;
}
.dropdown-menu{
 --bs-dropdown-border-width: 0;
}
.contenedorservicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 16px;
    align-items: start;
}
.titulo-servicios{
    text-align: center;
}